<div id="blocco1">

  <a href="https://www.labforweb.it"><img src="img/logo.png"></a>

  <div class="iconeMobile">

    <a [routerLink]="['/area-riservata']"><img src="img/area-riservata.png"></a>


    <a [routerLink]="['/carrello']"><i class="bi bi-cart" alt="carrello"></i></a>

  </div>

  <div class="iconeDesktop">

    <a [routerLink]="['/area-riservata']" class="bordoDestro">Area riservata</a>

    <a [routerLink]="['/carrello']" class="margineDestro">Carrello</a>

  </div>
  
</div>

<div id="formLogin">

  <h2>Accedi</h2>

  <form (ngSubmit)="onLogin()">
 
    <div class="inputNome">

      <input id="nomeUtente" type="text" autocomplete="off" [(ngModel)]="NomeUtente" name="NomeUtente" (focus)="onFocus('nomeUtente')"
        (blur)="onBlur('nomeUtente')"
        [class.inputErrore]="isTouchedNomeUtente && !nomeUtenteValido"
      />

      <label for="nomeUtente" [class.labelErrore]="isTouchedNomeUtente && !nomeUtenteValido" [class.active]="isFocusedNomeUtente || NomeUtente">
        Nome utente
      </label>

      <div class="messaggioErrore" *ngIf="isTouchedNomeUtente && !nomeUtenteValido">
        Nome utente non valido o non esistente.
      </div>

    </div>

    <div class="inputPassword">

      <input id="password" type="password" autocomplete="off" [(ngModel)]="password" name="password" (focus)="onFocus('password')"
        (blur)="onBlur('password')"
        [class.inputErrore]="isTouchedPassword && !passwordValida"
      />

      <label for="password" [class.labelErrore]="isTouchedPassword && !passwordValida" [class.active]="isFocusedPassword || password">
        Password
      </label>

      <div class="messaggioErrore" *ngIf="isTouchedPassword && !passwordValida">
        Password non valida.
      </div>

    </div>

    <p id="messaggio">Accedi per consultare il tuo profilo e verificare i tuoi ordini.</p>

    <button type="submit" [disabled]="!isFormValid()" [ngClass]="{'bottoneDisabilitato': !isFormValid(), 'bottoneAbilitato': isFormValid()}"
      class="bottoneLogin">
      Accedi
    </button>

  </form>

  <div id="nonRegistrato">

    <p>Non hai un account?</p>

    <button class="bottoneRegistrati"><a [routerLink]="['/register']">Registrati</a></button>

  </div>

</div>

<div id="footer_sottomenu_2">

  <ul class="colonne_3">

      <li>

          <input type="checkbox" id="Risorse" class="menu-toggle">
          <label for="Risorse">Risorse <img src="img/down-arrow.jpg"></label>

          <ul class="sottomenu_3">

              <li>Gift card</li>
              <li>Trova un negozio</li>
              <li>Nike Journal</li>
              <li>Diventa member</li>
              <li>Sconto studenti</li>
              <li>Feedback</li>
              <li>Codici promozionali</li>
              

          </ul>
      
      </li>
      
      <li>

          <input type="checkbox" id="Assistenza" class="menu-toggle">
          <label for="Assistenza">Assistenza <img src="img/down-arrow.jpg"></label>

          <ul class="sottomenu_3">

              <li>Hai bisogno di aiuto?</li>
              <li>Stato ordine</li>
              <li>Spedizione e consegna</li>
              <li>Resi</li>
              <li>Opzioni di pagamento</li>
              <li>Contattaci</li>
              <li>Recensioni</li>
              <li>Assistenza Codici promozionali Nike</li>
              

          </ul>

      </li>
      
      <li>

          <input type="checkbox" id="Azienda" class="menu-toggle">
          <label for="Azienda">Azienda <img src="img/down-arrow.jpg"></label>

          <ul class="sottomenu_3">

              <li>Informazioni su Nike</li>
              <li>News</li>
              <li>Lavora con noi</li>
              <li>Investitori</li>
              <li>Sostenibilità</li>
              <li>Obiettivo</li>
              

          </ul>

      </li>

      <li>
        <div class="allineaCentro">
            <img src="img/globe.png"> <p>Italia</p>
        </div>
      </li>

  </ul>

</div>

<div id="footer_sottomenu_3">

  <ul class="colonne_4">

      <li>© 2024 Nike, Inc. Tutti i diritti riservati</li>

      <li class="guide"> 

          <div id="guide">

              <p>Guide <img src="img/down-arrow.jpg" id="arrow"></p>

              <nav id="minimenu">

                  <ul>
                      <li>Nike Air</li>
                      <li>Nike Air Max</li>
                      <li>Nike FlyEase</li>
                      <li>Nike Pegasus</li>
                      <li>Nike React</li>
                      <li>Nike Vaporfly</li>
                  </ul>

              </nav>

          </div>

      </li>
      <li>Condizioni d'uso</li>
      <li>Condizioni di vendita</li>
      <li>Info Legali e Societarie</li>
      <li>Informativa sulla privacy e sui cookie</li>
      <li>Impostazioni sulla privacy e sui cookie</li>
  </ul>

</div>